@charset "UTF-8";
/* CSS Document */

/* body {
overflow-x:hidden;
}*/

#b1 {  background-image: url("../images/landscape-01.jpg"); }
#b2 { background-image: url("../images/summersalt/SummerSalt_01.jpg"); }
#b3 { background-image: url("../images/summersalt/SummerSalt_02.jpg"); }

hr {
width: 100%;
color: #393838;
display: block;
float: left;
clear: both;
border-top: dashed 1px;
border-bottom: none;
border-left: none;
border-right: none;
}

@font-face {font-family: "Poppins-Light";
src: url(../fonts/Poppins-Light.ttf);}

@font-face {font-family: "Poppins-Light";
src: url(../fonts/Larsseit-Light.ttf);}

@media screen and (max-width: 760px) {
.hideme {
    height: 300px;
    background-position: center;
    background-size: cover;
    z-index: -3;
}
    
        li a {
font-family: 'Larsseit-Light', 'Poppins-Light';
text-transform: uppercase;
letter-spacing: 0.15rem;
font-size: 0.7rem;
text-align: left;
line-height: 3rem;
height: auto;
width: 100%;
font-weight: normal;
font-style: normal; 
text-decoration: none;
color: #393838;     
}
    .image-half {
   display: none;
}  
    
.container {
margin-left: 10px;
margin-right: 10px;    
} 
.navbar-right {
display: none;   
} 
    
#first {
padding-top: 30px;
}    
    
}

@media screen and (min-width: 761px) {
    
    li a {
font-family: "Larsseit-Light", "Poppins-Light", sans-serif; 
text-transform: uppercase;
letter-spacing: 0.15rem;
font-size: 1rem;
text-align: left;
line-height: 3rem;
height: auto;
width: 100%;
font-weight: normal;
font-style: normal; 
text-decoration: none;
color: #393838;     
}
    
.hideme {
   display: none;
}
    .image-half {
    width: 50%;
    height: 100%;    
    position: fixed;
    background-position: center;
    background-size: cover;
    z-index: -3;
}
}

.navbar-default {
    background-color: rgba(255,0,0,0);
    border: none;
    padding-top: 5px;

}

.collapse {
border: none;
}

#one {
margin-top: 40px;
margin-bottom: 30px;

}

#two {
margin-top: 15px;
margin-bottom: 30px;
}

#three {
margin-top: 0px;
margin-bottom: 30px;
}

.container {
z-index: 5;
}


/* TYPOGRAPHY -------------------- */

p, h1, .subhead, .rationale, .minorhead, ol, #footer1, #footer2 {
color: #393838; 
}


p, .subhead, ol, #footer2, a { 
text-align: left;
font-family: "actor", "Larsseit-Light", "Poppins-Light", sans-serif;
font-weight: normal;
font-style: normal;     
}

h1, #footer1 {
text-align: left;
font-family: "Larsseit-Light", "Poppins-Light", sans-serif;
text-transform: uppercase;
font-weight: normal;
font-style: normal;     
}


h1 {
letter-spacing: 0.2rem;
font-size: 2rem;
text-align: left;
line-height: 2.5rem;
}



nav li a {
color: #393838 !important;     
}

.minorhead {
font-family: "Larsseit-Light", "Poppins-Light", sans-serif;
font-size: 0.8rem;
text-align: left;
line-height: 3rem;
height: auto;
width: 100%;
font-weight: normal;
font-style: normal; 
text-decoration: none;
color: #393838;    
}

.subhead {
font-size: 1rem;
line-height: 2rem;
letter-spacing: 0.02rem;
font-family: "Larsseit-Light", "Poppins-Light", sans-serif;
font-weight: normal;
font-style: normal;      
}


ol {
margin-bottom: 0;
margin-top: 0;
margin-bottom: 20px;
line-height: 3rem;
font-size: 1.8rem; 
    width: 100%;
}

.quote {
font-family: "Larsseit-LightItalic";
font-weight: normal;
font-style: normal;  
letter-spacing: 0.02rem;
}

.rationale {
text-align: left;
font-family: "Larsseit-Light", "Poppins-Light", sans-serif;
font-weight: normal;
font-style: normal;    
margin-bottom: 40px;
line-height: 2.5rem;
font-size: 1.6rem;
color: #393838; 
}

.awards {
text-align: left;
font-family: "Larsseit-Light", "Poppins-Light", sans-serif;
font-weight: normal;
font-style: normal;    
margin-bottom: 40px;
line-height: 1.8rem;
font-size: 1.2rem;
}

#footer1 {
font-size: 0.8rem; 
line-height: 1.3rem;
letter-spacing: 0.1rem;
}

#footer2 {
font-size: 0.8rem; 
line-height: 1.5rem;
font-weight: 400;
font-style: italic;
letter-spacing: 0.02rem;
    padding-bottom: 30px;
}

.note {
font-family: "Larsseit-Light", "Poppins-Light", sans-serif;
font-weight: normal;
font-style: normal;     
font-size: 0.8rem; 
line-height: 1.5rem;
font-weight: 400;
letter-spacing: 0.02rem;
color: #393838;
padding-left: 10px;
}

a {
text-decoration: underline;
   color: #393838;    
}

a:hover {
color: #a9a9a9;      
}

img {
width: 100%;
}

#logo {
width: 300px;

}

.first-row {
padding-top: 40px;
}

.first-col {
}

#sizeimg {
position: relative;
    width: 100%;
}

a:link, a:visited, a:active {
color: #393838; 
}

li a {
color: #393838; 
}








